h1
{ 
    color: #000000; 
    font-family: system-ui;
    line-height: 32px; 
    float: left;
    margin-left: 130px;
    margin-top: 150px;
}

h2 
{ 
    color: rgb(0, 0, 255); 
    font-family: system-ui;
    line-height: 32px; 
    font-style: italic;
}

h3
{ 
    color: #000000; 
    font-family: system-ui;
    line-height: 48px; 
}

h4
{ 
    font-weight: 300; 
    font-family: system-ui;
    color: #0ccaeb; 
}

textarea
{
    width: 600px ; 
	height: 200px; 
}

p
{ 
    color: #000000; 
}

.photo
{

    width: 150px ; 
	height: 200px; 
    margin-left: 60px;
    margin-top : 50px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 50px;
    float: left;
}

.Coordonnees
{
    width: 300px ; 
	height: 200px; 
    margin-left: 130px;
    margin-top : 50px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 50px;
    float: left;
}

.Corps
{
    width: 1000px; 
	height: 526px; 
    margin-top : 100px;
    margin-left: 60px;
    float: left;
}

.Navigation
{
    width: 200px; 
	height: 1000px; 
    margin-top : 50px;
    margin-left: 60px;
    margin-right: 100px;
    clear: left;
    float: left;
}

.Bouton
{
    width: 2OOpx;
    height: 100px;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #888181;
    margin-top: 25px;
    margin-bottom: 25px;
}

.Comment
{
    width: 800px; 
	height: 700px; 
    margin-top : 100px;
    margin-left: 60px;
    border-style: solid;
    border-width: 1px;
    border-color: #0ccaeb;
    border-radius: 50px;
    float: left;
    padding-left: 50px;
    padding-top: 50px;
}

p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein 
  {
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
  }


